.card {
  display: flex;
  height: 93px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--card-bord);
  background: var(--card-color);
  padding: 16px;
  max-width: 976.66px;
}

.imagem {
  border-radius: 50%;
  object-fit: cover;
}
