.barraSearch {
  display: flex;
  justify-content: space-between;
  background: var(--mensage-color);
  padding: 8px 16px;

  height: auto;
  width: 100%;
  max-width: 658px;
  border: 1px;
  border-radius: 6px;
  border-color: var(--border-camp);
}

.inputSearch {
  color: var(--font-blur);
  line-height: 20px;
  font-size: 14px;
  vertical-align: middle;
}
