.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 532px;
  padding: 16px;
  background: var(--card-color);
  color: var(--font-card);
  border-radius: 8px;
}

.closeRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
  align-items: end;
  justify-content: top;
}

.modalRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.close {
  height: 20px;
  width: 20px;
}

.modalTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.textMessage {
  font-size: 16px;
  line-height: 24px;
}

.btmRow {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 40px;
}

.btmVoltar {
  min-width: 176px;
  background: transparent;
  padding: 12px 24px;
  color: var(--btm-message);
  border: 1.5px solid var(--btm-message);
  border-radius: 8px;
}

.btmConfirmar {
  min-width: 176px;
  background-color: var(--btm-message);
  color: var(--font-card);
  padding: 12px 24px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 1.5rem;
  }

  .btmRow {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .btmVoltar,
  .btmConfirmar {
    width: 100%;
  }
}
